.Contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Contact h1{
    text-align: left;
}

.Contact .Contact-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Contact .Contact-row a{
    text-decoration: none;
    color: #1466B8;
}