.Contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Contact h1{
    text-align: left;
}

.Contact .Contact-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Contact .Contact-row a{
    text-decoration: none;
    color: #1466B8;
    font-size: 20px;
}

.Contact .CV-button{
    font-size: 16px;
    background: #1466B8;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.Contact .CV-button:hover{
    transform: scale(1.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}