.Footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    max-width: 1440px;
    width: 100%;
    font-family: "Hind";
}

.Footer img{
    width: 25px;
    height: 25px;
    padding: 0px;
    margin-left: 5px;
}

.Footer p.light-mode {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 2.5;
    color: #3D4754;;
}

.Footer p.dark-mode {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 2.5;
    color: #9EABB8;
}