:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #121417;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 1.2em;
  text-align: left;
}

.dark-mode {
  background: #121417;
  color: #FFF;
  transition: background 0.5s ease-in-out, color 0.3s ease-in-out;
} 

.light-mode {
  background: #FFF;
  color: #121417;
  transition: background 0.5s ease-in-out, color 0.3s ease-in-out;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media screen and (max-width:425px) {
  h1 {
    font-size: 2.5em;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}